@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* light theme */
:root {
    --background-color: rgb(251, 246, 239);
    --text-color: #000000;
    --nText-color: #0d3b66;
    --hText-color: #393e41;
    --tText-color: #e94f37;
    --dText-color: #3d405b;
    --cText-color: rgb(255, 46, 86);
    --navText-color: #e94f37;
    --navHoverText-color: #0d3b66;

    #name {
      color: var(--nText-color);
    }
    #hello {
      color: var(--hText-color);
    }
    #title {
      color: var(--tText-color);
    }
    #description {
      color: var(--dText-color);
    }
    #contact-info{
      color: var(--cText-color);
    }
    #navLinks{
      color: var(--navText-color);
      &:hover{
        color: var(--navHoverText-color);
        font-size: 1.2rem;
      }
      font-size: 1.2rem;
    }
    #humburgerMenu{
      color: var(--navText-color);
      &:hover{
        color: var(--navHoverText-color);
      }
    }

  }

  /* dark theme */
  [data-theme='dark'] {
    --background-color: #000000;
    --text-color: #ffffff;
    --nText-color: #faf0ca;
    --hText-color: #f4d35e;
    --tText-color: #e94f37;
    --dText-color: #ffffff;
    --navText-color: #E6B70F;
    --navHoverText-color: #faf0ca;

    #name {
      color: var(--nText-color);
    }
    #hello {
      color: var(--hText-color);
    }
    #title {
      color: var(--tText-color);
    }
    #description {
      color: var(--dText-color);
    }
    #navLinks{
      color: var(--navText-color);
      &:hover{
        color: var(--navHoverText-color);
      }
    }
  }
  
  body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
  }
  