.img{
    width: 350px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;

}


.navLinks{
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}